h1 {
    color: #000;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    background: transparent;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

    /* bring to front of screen */
    position: relative;
    z-index: 1;
}

h2 {
    color: #000;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    background: transparent;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

    /* bring to front of screen */
    position: relative;
    z-index: 1;
}

#quad1 {
    background-color: green;
    /* top left corner of screen */
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 50%;
}

#quad2 {
    background-color: red;
    /* top right corner of screen */
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 50%;
}

#quad3 {
    background-color: blue;
    /* bottom left corner of screen */
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50%;
    height: 50%;
}

#quad4 {
    background-color: yellow;
    /* bottom right corner of screen */
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50%;
    height: 50%;
}